@font-face {
  font-family: "Tajawal";
  src: url(../fonts/Tajawal-Medium.ttf);
  font-weight: 600; }
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700; }
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 600; }
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400; }
body {
  font-family: "Roboto";
  color: #475731;
  background-color: #ecf9e7; }

.scrolling-tabs-links {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #d5e2cf;
  z-index: 888;
  transition: 0.3s; }
  .scrolling-tabs-links .tabs {
    display: flex;
    overflow: auto; }
    .scrolling-tabs-links .tabs::-webkit-scrollbar {
      display: none; }
  .scrolling-tabs-links a {
    padding: 12px;
    color: #806f52;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    display: block;
    width: fit-content; }
  .scrolling-tabs-links a.active {
    color: #475731;
    border-bottom: 2px solid #475731;
    font-weight: 600; }

.scrolling-tabs-links.appear {
  top: 66px; }
  @media (max-width: 991px) {
    .scrolling-tabs-links.appear {
      top: 186px; } }

/*nav */
.navbar {
  background-color: #ecf9e7;
  box-shadow: 0 0 5px #94b895;
  position: fixed;
  width: 100%;
  z-index: 9999;
  min-height: 66px; }
  .navbar .form-inline button {
    right: 0;
    border: none;
    color: #475731; }
  .navbar .form-inline input {
    border: none;
    box-shadow: none !important; }
    @media (max-width: 991px) {
      .navbar .form-inline input {
        width: 100%; } }
  .navbar .other-links {
    align-items: center; }
    @media (max-width: 991px) {
      .navbar .other-links {
        margin-top: 16px; } }
    .navbar .other-links .lang {
      font-size: 18px;
      margin-inline-start: 16px;
      color: #475731; }
      .navbar .other-links .lang span {
        margin-top: -8px; }
      .navbar .other-links .lang i {
        margin-inline-end: 5px; }
    .navbar .other-links .shopping {
      margin: 0 16px; }
    .navbar .other-links .sign a {
      font-weight: bold;
      color: #806f52; }

.switch {
  font-family: "Tajawal"; }

/*Header*/
.Header {
  padding: 85px 0 25px; }
  @media (max-width: 991px) {
    .Header {
      padding-top: 200px; } }
  .Header img {
    border-radius: 8px;
    margin-bottom: 36px; }

/*tabs-links*/
.tabs-links {
  margin-bottom: 25px; }
  .tabs-links .tab {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-inline-end: 16px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    cursor: pointer; }
    .tabs-links .tab img {
      height: 100%;
      transition: 0.3s; }
    .tabs-links .tab span {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      padding: 0 0 12px 12px;
      font-weight: 600;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.2); }
    .tabs-links .tab:hover img {
      transform: scale(1.1); }
  @media (max-width: 767px) {
    .tabs-links .wrapper {
      overflow: auto; }
      .tabs-links .wrapper::-webkit-scrollbar {
        display: none; }
      .tabs-links .wrapper .tab {
        flex-shrink: 0;
        width: 130px;
        height: 130px; } }

/*mahashi */
.mahashi {
  padding: 25px 0; }
  .mahashi h2 {
    color: #475731;
    margin-bottom: 16px;
    font-weight: 600; }
  .mahashi .item img {
    height: 240px;
    border-radius: 8px;
    cursor: pointer; }
  .mahashi .item .item-caption {
    margin-top: 8px;
    margin-bottom: 16px; }
    .mahashi .item .item-caption h5 {
      color: #475731;
      font-weight: bold; }
    .mahashi .item .item-caption span {
      font-weight: bold;
      color: #806f52; }

/*product modal */
/*****************globals*************/
body {
  font-family: "open sans";
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px; } }
.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 0;
  height: 275px; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }

.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; }

.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; }

.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; }

.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0; }

.tab-content {
  overflow: hidden; }

.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  height: 100%; }

.tab-pane {
  height: 100%; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }
.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked,
.price span {
  color: #ff9f1a; }

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }

.size:first-of-type {
  margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }

.color:first-of-type {
  margin-left: 20px; }

.add-to-cart,
.like {
  background: #475731;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease; }

.add-to-cart:hover,
.like:hover {
  background: #475731;
  color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }

.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
.modal {
  z-index: 99999; }

.product__modal .modal-dialog {
  max-width: 95%; }
.product__modal .modal-body {
  height: 400px;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */ }
  .product__modal .modal-body::-webkit-scrollbar {
    width: 5px; }
  .product__modal .modal-body::-webkit-scrollbar-track {
    background: #f1f1f1; }
  .product__modal .modal-body::-webkit-scrollbar-thumb {
    background: #475731; }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
