@font-face {
  font-family: "Tajawal";
  src: url(../fonts/Tajawal-Medium.ttf);
  font-weight: 600; }
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700; }
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 600; }
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400; }
body {
  font-family: "Roboto";
  color: #475731;
  background-color: #ecf9e7; }

.scrolling-tabs-links {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #d5e2cf;
  z-index: 888;
  transition: 0.3s; }
  .scrolling-tabs-links .tabs {
    display: flex;
    overflow: auto; }
    .scrolling-tabs-links .tabs::-webkit-scrollbar {
      display: none; }
  .scrolling-tabs-links a {
    padding: 12px;
    color: #806f52;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    display: block;
    width: fit-content; }
  .scrolling-tabs-links a.active {
    color: #475731;
    border-bottom: 2px solid #475731;
    font-weight: 600; }

.scrolling-tabs-links.appear {
  top: 66px; }
  @media (max-width: 991px) {
    .scrolling-tabs-links.appear {
      top: 186px; } }

/*nav */
.navbar {
  background-color: #ecf9e7;
  box-shadow: 0 0 5px #94b895;
  position: fixed;
  width: 100%;
  z-index: 9999;
  min-height: 66px; }
  .navbar .form-inline button {
    right: 0;
    border: none;
    color: #475731; }
  .navbar .form-inline input {
    border: none;
    box-shadow: none !important; }
    @media (max-width: 991px) {
      .navbar .form-inline input {
        width: 100%; } }
  .navbar .other-links {
    align-items: center; }
    @media (max-width: 991px) {
      .navbar .other-links {
        margin-top: 16px; } }
    .navbar .other-links .lang {
      font-size: 18px;
      margin-inline-start: 16px;
      color: #475731; }
      .navbar .other-links .lang span {
        margin-top: -8px; }
      .navbar .other-links .lang i {
        margin-inline-end: 5px; }
    .navbar .other-links .shopping {
      margin: 0 16px; }
    .navbar .other-links .sign a {
      font-weight: bold;
      color: #806f52; }

.switch {
  font-family: "Tajawal"; }

/*Header*/
.Header {
  padding: 85px 0 25px; }
  @media (max-width: 991px) {
    .Header {
      padding-top: 200px; } }
  .Header img {
    border-radius: 8px;
    margin-bottom: 36px; }

/*tabs-links*/
.tabs-links {
  margin-bottom: 25px; }
  .tabs-links .tab {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-inline-end: 16px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    cursor: pointer; }
    .tabs-links .tab img {
      height: 100%;
      transition: 0.3s; }
    .tabs-links .tab span {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      padding: 0 0 12px 12px;
      font-weight: 600;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.2); }
    .tabs-links .tab:hover img {
      transform: scale(1.1); }
  @media (max-width: 767px) {
    .tabs-links .wrapper {
      overflow: auto; }
      .tabs-links .wrapper::-webkit-scrollbar {
        display: none; }
      .tabs-links .wrapper .tab {
        flex-shrink: 0;
        width: 130px;
        height: 130px; } }

/*mahashi */
.mahashi {
  padding: 25px 0; }
  .mahashi h2 {
    color: #475731;
    margin-bottom: 16px;
    font-weight: 600; }
  .mahashi .item img {
    height: 240px;
    border-radius: 8px;
    cursor: pointer; }
  .mahashi .item .item-caption {
    margin-top: 8px;
    margin-bottom: 16px; }
    .mahashi .item .item-caption h5 {
      color: #475731;
      font-weight: bold; }
    .mahashi .item .item-caption span {
      font-weight: bold;
      color: #806f52; }

/*product modal */
/*****************globals*************/
body {
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px; } }
.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 0;
  height: 275px; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }

.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; }

.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; }

.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; }

.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0; }

.tab-content {
  overflow: hidden; }

.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  height: 100%; }

.tab-pane {
  height: 100%; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }
.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked,
.price span {
  color: #ff9f1a; }

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }

.size:first-of-type {
  margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }

.color:first-of-type {
  margin-left: 20px; }

.add-to-cart,
.like {
  background: #475731;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease; }

.add-to-cart:hover,
.like:hover {
  background: #475731;
  color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }

.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
.modal {
  z-index: 99999; }

.product__modal .modal-dialog {
  max-width: 95%; }
.product__modal .modal-body {
  height: 400px;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */ }
  .product__modal .modal-body::-webkit-scrollbar {
    width: 5px; }
  .product__modal .modal-body::-webkit-scrollbar-track {
    background: #f1f1f1; }
  .product__modal .modal-body::-webkit-scrollbar-thumb {
    background: #475731; }

/*POS PAGE */
.pos-nav {
  padding: 24px 0; }
  .pos-nav .nav-tabs {
    border: none;
    overflow-x: auto;
    flex-wrap: nowrap;
    position: relative;
    padding: 8px 0;
    /* Track */
    /* Handle */ }
    .pos-nav .nav-tabs::-webkit-scrollbar {
      width: 5px;
      height: 8px; }
    .pos-nav .nav-tabs::-webkit-scrollbar-track {
      border-radius: 10px;
      background: #f1f1f1; }
    .pos-nav .nav-tabs::-webkit-scrollbar-thumb {
      background: #d7d7d7;
      border-radius: 10px; }
    .pos-nav .nav-tabs .nav-item {
      width: 150px;
      flex-shrink: 0;
      margin-bottom: 0; }
      @media (max-width: 767px) {
        .pos-nav .nav-tabs .nav-item {
          width: 120px; } }
      .pos-nav .nav-tabs .nav-item .nav-link {
        border-radius: 0.25rem;
        border: 2px solid transparent;
        margin-inline-end: 24px;
        box-shadow: 0 0 5px #dce2e0;
        background-color: #fff;
        font-weight: bold;
        color: #aeb7b4; }
        @media (max-width: 767px) {
          .pos-nav .nav-tabs .nav-item .nav-link {
            padding: 4px;
            font-size: 14px;
            margin-inline-end: 12px; } }
        .pos-nav .nav-tabs .nav-item .nav-link svg {
          margin-bottom: 4px; }
      .pos-nav .nav-tabs .nav-item .nav-link.active {
        border-color: #29805d;
        color: #29805d; }
        .pos-nav .nav-tabs .nav-item .nav-link.active svg {
          fill: #29805d;
          stroke: #29805d; }

/*products */
.porducts {
  padding: 24px 0 50px 0;
  height: calc(100vh - 140px); }
  @media (max-width: 991px) {
    .porducts .products-main-col {
      margin-bottom: 24px; } }
  .porducts .product-container {
    padding: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    height: 300px;
    overflow: auto;
    /* Track */
    /* Handle */ }
    .porducts .product-container::-webkit-scrollbar {
      width: 5px; }
    .porducts .product-container::-webkit-scrollbar-track {
      border-radius: 10px;
      background: #f1f1f1; }
    .porducts .product-container::-webkit-scrollbar-thumb {
      background: #d7d7d7;
      border-radius: 10px; }
    @media (max-width: 575px) {
      .porducts .product-container {
        padding: 16px 8px; } }
  .porducts .products-header {
    color: #109a66;
    align-items: center;
    padding: 0 15px; }
    @media (max-width: 767px) {
      .porducts .products-header {
        padding: 0 4px; } }
    @media (max-width: 575px) {
      .porducts .products-header {
        flex-wrap: wrap; } }
    .porducts .products-header .add-item {
      cursor: pointer; }
      @media (max-width: 575px) {
        .porducts .products-header .add-item {
          width: 100%;
          margin-bottom: 8px;
          font-size: 13px; } }
    .porducts .products-header .search-form .search-input {
      border: 1px solid #dadada;
      padding: 8px 8px 8px 14px;
      border-radius: 24px;
      background-color: #f1f1f1;
      outline: none;
      margin-inline-end: 8px;
      color: #aeb7b4; }
      .porducts .products-header .search-form .search-input::placeholder {
        color: #dadada; }
    .porducts .products-header .search-form .submit-search {
      border: none;
      display: inline-flex;
      width: 42px;
      height: 42px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #109a66;
      color: #ffffff;
      cursor: pointer;
      outline: none; }
  .porducts .product-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px; }
    .porducts .product-list .product-content {
      flex-basis: 20%;
      padding: 0 15px;
      margin-bottom: 16px; }
      @media (max-width: 767px) {
        .porducts .product-list .product-content {
          flex-basis: 25%;
          padding: 0 4px; } }
      @media (max-width: 575px) {
        .porducts .product-list .product-content {
          flex-basis: 33.3333%; } }
      @media (max-width: 425px) {
        .porducts .product-list .product-content {
          flex-basis: 50%; } }
      .porducts .product-list .product-content img {
        border: 2px solid #ededed;
        padding: 2px;
        border-radius: 5px;
        margin-bottom: 16px; }
      .porducts .product-list .product-content .product-name {
        font-size: 14px; }
      .porducts .product-list .product-content span {
        color: #109a66;
        font-size: 15px; }

/*check-out*/
.check-out {
  background-color: #fff;
  border-radius: 8px;
  height: 300px;
  overflow: auto;
  /* Track */
  /* Handle */ }
  .check-out::-webkit-scrollbar {
    width: 5px; }
  .check-out::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1; }
  .check-out::-webkit-scrollbar-thumb {
    background: #d7d7d7;
    border-radius: 10px; }
  @media (max-width: 575px) {
    .check-out {
      padding: 16px 8px; } }
  .check-out h6 {
    padding: 8px; }
  .check-out .items-table {
    overflow-y: scroll;
    /* Track */
    /* Handle */ }
    .check-out .items-table::-webkit-scrollbar {
      width: 5px; }
    .check-out .items-table::-webkit-scrollbar-track {
      border-radius: 10px;
      background: #f1f1f1; }
    .check-out .items-table::-webkit-scrollbar-thumb {
      background: #d7d7d7;
      border-radius: 10px; }
    .check-out .items-table thead tr {
      background-color: #f1f1f1; }
    .check-out .items-table thead th {
      border: none; }
    .check-out .items-table .item-name {
      width: 35%; }
    .check-out .items-table .name-td i {
      margin-inline-end: 8px; }
    .check-out .items-table .name-td span {
      color: #929493; }
    .check-out .items-table .inc-dec .up,
    .check-out .items-table .inc-dec .down {
      border-radius: 50%;
      border-width: 2px;
      width: 25px;
      height: 25px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      box-shadow: none !important;
      outline: none !important;
      background-color: transparent;
      border-color: #109a66;
      color: #109a66; }
    .check-out .items-table .inc-dec .counter-input {
      width: 30%;
      border: none;
      text-align: center;
      margin: 0 !important;
      font-weight: bold;
      box-shadow: none !important; }
  .check-out .total-price {
    padding: 16px;
    background-color: #f9f9f9;
    font-weight: bold; }
    .check-out .total-price .discount h6 {
      color: #8b8f8e;
      font-weight: bold; }
    .check-out .total-price .discount span {
      display: block;
      background-color: #fff;
      padding: 8px 16px;
      border-radius: 5px;
      border: 1px solid #ccc; }
    .check-out .total-price .subtotal h6,
    .check-out .total-price .subtotal span {
      color: #8b8f8e;
      font-weight: bold; }
    .check-out .total-price .tax h6 {
      color: #8b8f8e;
      font-weight: bold; }
      .check-out .total-price .tax h6 p {
        display: inline;
        color: #109a66; }
    .check-out .total-price .tax span {
      color: #8b8f8e;
      font-weight: bold; }
  .check-out .total-paid {
    padding: 16px; }
    .check-out .total-paid h5 {
      font-weight: bold;
      color: #000000; }
    .check-out .total-paid span {
      color: #109a66;
      font-weight: bold; }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
